.headercolor {
	background: #00a0e3;
	font-family: 'Fredoka One', cursive;
}
.back {
	background: #e6e6e6;
	
}
div.central {
  height: 70%;
  display: block;
  align-items: center;
  justify-content: center
   }
div.central p {
  margin: 0 }

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}
.font {
	font-family: 'Fredoka One', cursive;
}
.caixinha {
	padding: 5px 0;
}

.font2 {
	font-family: 'Montserrat', sans-serif;
}

footer p a {
	margin: 5px 15px;
}